.modal .modal-body { /* Vertical scrollbar if necessary */
    max-height: 750px;
    overflow-y: auto;
}

body .modal-dialog { /* Width */
    max-width: 75%;
}
.modalImg{

    display: block;
    max-width: 100%;

    width: auto;
    height: auto;
}