.nav-item{
    min-width: 175px;
    text-align: center;
}

.navbar{
    margin-bottom: 15px;
    background-color: dodgerblue !important;
}
.footerLinks{
color: black !important;
}
.navbar-brand{ color :white !important;}
.nav-link{ color :white !important;}
.navbar-nav > .active > a {
    color: navy !important ;
}
body{
overflow-x: hidden
}
.navbar-inverse{
background-color: whitesmoke !important;
}

#recs{
    margin-top: 45px;
}

.title{

    color: dodgerblue;
}