
#overview{
border-radius: 5px;
 border: solid grey;
 border-width: 1px;

}

.row{
padding: 15px;

}
#header{
    background-color: dodgerblue;
    color : white;
border-radius: 5px;
}
#summary{
}
#calCalc{
text-align: center;
}

.link{color:black !important;}

.card-deck{
margin-bottom: 20px;}
#recTitle{
color: dodgerblue;}
#seeMoreRec{
color:black !important;
}
.card-header{
    background-color: dodgerblue;
    color: white !important;
}

.modal .modal-body { /* Vertical scrollbar if necessary */
    max-height: 750px;
    overflow-y: auto;
}

body .modal-dialog { /* Width */
    max-width: 75%;
}
.modalImg{

    display: block;
    max-width: 100%;

    width: auto;
    height: auto;
}
