
#overview{
border-radius: 5px;
 border: solid grey;
 border-width: 1px;

}

.row{
padding: 15px;

}
#header{
    background-color: dodgerblue;
    color : white;
border-radius: 5px;
}
#summary{
}
#calCalc{
text-align: center;
}

.link{color:black !important;}

.card-deck{
margin-bottom: 20px;}
#recTitle{
color: dodgerblue;}
#seeMoreRec{
color:black !important;
}